{% extends 'base.html' %}
{% block customcss %}{% endblock customcss %}


{% block content %}
<div class="alert alert-primary text-center " role="alert"><h5>{{object.title}}</h5></div>
<div class="card border-primary mb-3" style="max-width: 100% ;">
    <div class="card-header"><P><h5><a href=>{{object.title}}</h5></a></P></div>
    <div class="card-body">
        <p class="card-text">本文：{{object.content}}</p>
    </div>
</div>
<a class="btn btn-primary mb-3" href="{% url 'comment' object.id %}">コメントする</a><br>

<h5>---コメント一覧---</h5>

{% for comment in object.commentmodel_set.all %}
<div class="card border-primary mb-3" style="max-width: 100% ;">
    <div class="card-header">
        <P><a>投稿者：{{ comment.name }}</a></P>
    </div>
    <div class="card-body">
        <p class="card-text">本文：{{ comment.text | linebreaksbr }}</p>
    </div>
</div>
{% endfor %}
{% endblock content %}
